.character {
    text-align: center;
    float: left;
    padding: 10px;
    border: black solid 2px;
    margin: 10px;
}

body {
    background-image: url("../images/background_3.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    clear: both;
    font-size: 24px;
}

h1 {
    font-size: 40px;
    text-align: center;
}